

#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#url {
background: rgba(255, 255, 224, 0.85);
border: 0px solid;
border-radius: 5px;
padding: 12px;
}
#disconnected {
background: rgba(250, 235, 209, 0.85);
border: 0px solid;
border-radius: 5px;
padding: 12px;
}
#connected {
background: rgba(177, 241, 177, 0.85);
border: 0px solid;
border-radius: 5px;
padding: 12px;
}
#printers {
margin-top: 10px;
background: rgba(238, 238, 238, 0.85);
border: 0px solid;
border-radius: 5px;
padding: 12px;
}
#logging {
margin-top: 10px;
background: lightgray;
border: 0px solid;
border-radius: 5px;
padding: 12px;
}
#logger {
overflow:scroll;
}
body{
    background-color: #026873;
background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
background-size: 13px, 29px, 37px, 53px;
}




.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
border-bottom-left-radius: 0;
border-top-left-radius: 0;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
display: table-cell;
}
.input-group .form-control {
position: relative;
z-index: 2;
float: left;
width: 100%;
margin-bottom: 0;
}
.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555555;
background-color: #ffffff;
background-image: none;
border: 1px solid #cccccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input, button, select, textarea {
font-family: inherit;
font-size: inherit;
line-height: inherit;
}
input {
line-height: normal;
}
button, input, optgroup, select, textarea {
color: inherit;
font: inherit;
margin: 0;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.margin-bottom {
margin-bottom: 10px !important;
}

.fa-fw {
width: 1.28571429em;
text-align: center;
}
.fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}



.input-group-addon:first-child {
border-right: 0;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
border-bottom-right-radius: 0;
border-top-right-radius: 0;
}
.input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
color: #555555;
text-align: center;
background-color: #eeeeee;
border: 1px solid #cccccc;
border-radius: 4px;
}
.input-group-addon, .input-group-btn {
width: 1%;
white-space: nowrap;
vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
display: table-cell;
}

.input-group {
position: relative;
display: table;
border-collapse: separate;
}

button.op {
-webkit-user-select: none;
background-color: rgba(0, 0, 0, 0);
background-image: none;
border-bottom-color: rgb(86, 61, 124);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(86, 61, 124);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(86, 61, 124);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(86, 61, 124);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(86, 61, 124);
cursor: pointer;
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: normal;
height: 45px;
line-height: 23.940000534057617px;
margin-bottom: 0px;
padding-bottom: 10px;
padding-left: 16px;
padding-right: 16px;
padding-top: 10px;
text-align: center;
text-decoration: none solid rgb(86, 61, 124);
vertical-align: middle;
white-space: nowrap;
width: 182px;
}

.text-danger {
    color: rgb(236, 135, 135); 
}

.btn-default {
text-shadow: 0 1px 0 #fff;
}
.btn {
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.btn-lg, .btn-group-lg > .btn {
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
}
.btn-default {
color: #333333;
background-color: #ffffff;
border-color: #cccccc;
}
.btn {
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
margin-right: 5px;
}

button.clean {
}

.hidden {
display: none !important;
}

.reverse {
color: white !important;
}

#alert {
float: right;
margin: 30px;
}

.alert {
background-color: rgb(162, 123, 151);
padding: 15px;
border-radius: 5px;
}
/* vim:expandtab:smartindent:tabstop=4:softtabstop=4:shiftwidth=4:
 * */
